@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  } 


body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    background: #e0e0e0;
    font-family: 'Product Sans';
    
}

.left {
    width: 75%;
    flex-basis: 75%;
    height: 99vh;
}

.right {
    width: 25%;
    flex-basis: 25%;
}

.output {
    
    height: 30%;
}

.results {
    height: 565px;
    overflow: scroll;
}

.buttons {
    height: 75%;
    width: 100%;
    
    
}

table {
    
    width: 100%;
    height: 93%;
}

table tr{
    height: 20%;
}

table td {
    width: 25%;
}

button {
    transition: all 0.03s;
    height: 100%;
    width: 100%;
    background: #eeeeee;
    box-shadow: none;
    border: none;
    color: #212121;
    font-size: 25px;
    
}

button.number {
    background: #f5f5f5;
    font-weight: bolder;
}

button:hover {
    background: #ffbf00;
    color: white;
}

button:active {
    background: #ffbf00;
}

.right {
    border-left: 3px solid rgba(0, 0, 0, 0.05);
}

#his {
    text-align: right;
    font-size: 20px;
    padding: 10px;
    
    
}

.item {
    text-align: right;
    
    padding: 10px;
    border-top: 3px solid rgba(0, 0, 0, 0.05);
}

.itemInput {
    color: gray;
    font-size: 20px;
}

.itemResult {
    font-size: 25px;
}

.output {
    display: flex;
    flex-direction: column;
    
    justify-content: center;
}

.displayNum {
    font-size: 50px;
    text-align: right;
    padding: 10px;    
}

.prev {
    padding: 10px;
    color: gray;
    font-size: 30px;
    text-align: right;
   
}

@media all and (max-width:700px){
    .right {
        display: none;
    }   

    .left {
        width: 100%;
    }

    body {
        flex-direction: column;
    }
}